<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Learning Angular
  </h1>
  <button (click)="doRestCall()">Do REST call</button>
</div>

<H2>Template & Data Binding</H2>

<H3>Showing component properties with interpolation</H3>

	<span>Title : {{title}}</span> 
	<br/>
	<span>My favorite hero is: {{myHero}}</span>

<H3>Template inline or template file?</H3>

<H3>Constructor or variable initialization?</H3>

<H3>Showing an array property with *ngFor</H3>

<H3>Creating a class for the data</H3>

<H3>Using the Hero class</H3>

<H3>Conditional display with NgIf</H3>

<H3>Summary</H3>





